.four-0-four-msg{
    text-align: center ;
    text-transform: capitalize;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    a{
        color: #fff;
    }
    margin-bottom: 2rem;
}
